{% extends 'base.html' %}
{% load crispy_forms_tags %}
  {% comment %} {% block css %}

  {% endblock css %} {% endcomment %}
{% block main %}
<h1 class="text-center"> Add Item :</h1>
<div class='container mt-3' style="width: 40%">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.name|as_crispy_field }}
    {{ form.img|as_crispy_field }}
    {{ form.desc|as_crispy_field }}
    {{ form.price|as_crispy_field }}
    {{ form.type|as_crispy_field }}
    <input type="hidden" name="reg_agent" value="{{user.id}}">
    <input type="submit" value="Save" />
</form>
</div>  
{% endblock main %} 